/*burada sürekli kullanacağım renk font vs gibi şeyleri tanımlıyorum
kullanım kolaylığı açısından
*/
:root {
  --text-color: #8e9a9b;
  --main-color: #ffffff;
  --shadow-color: #f0f2f5;
  --small-font-size: 1rem;
  --medium-font-size: 1.5rem;
  --large-font-size: 2.5rem;
  --grid-text-color: hsl(185, 6%, 45%);
}

body {
  font-family: "Roboto", cursive;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden; /* yatay kaydırmayı devre dışı bırakır */
  user-select: none; /* metinlerin seçilmesini engeller */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/*kayı ekranı için css*/
.register-screen {
  color: #8e9a9b;
  display: grid;
  justify-content: center;
  place-items: center;
}

.register-input {
  border-radius: 10px;
  border: 2px solid hsl(185, 6%, 65%);
  text-align: center;
  width: 250px;
  height: 60px;
  margin-top: 20px;
  font-size: 1rem;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.register-input:focus {
  outline: none;
  border-color: hsl(185, 6%, 55%);
}
.register-btn {
  margin-top: 20px;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid hsl(185, 6%, 65%);
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 60%);
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-btn:hover {
  background-color: hsl(0, 0%, 85%);
  transform: scale(1.05);
}

.register-btn:active {
  background-color: hsl(0, 0%, 80%);
  transform: scale(0.98);
}

/* Giriş ekranı */
.start-screen {
  color: #8e9a9b;
  display: grid;
  justify-content: center;
  place-items: center;
}

.start-input {
  border-radius: 10px;
  border: 2px solid hsl(185, 6%, 65%);
  text-align: center;
  width: 250px;
  height: 60px;
  margin-top: 20px;
  font-size: 1rem;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.start-input:focus {
  outline: none;
  border-color: hsl(185, 6%, 55%);
}

.start-btn {
  margin-top: 20px;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid hsl(185, 6%, 65%);
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 60%);
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.start-btn:hover {
  background-color: hsl(0, 0%, 85%);
  transform: scale(1.05);
}

.start-btn:active {
  background-color: hsl(0, 0%, 80%);
  transform: scale(0.98);
}

/*navbar css özellikleri*/
nav {
  background-color: var(--main-color);
  color: black;
  position: fixed; /*ekranda sabit kalması için*/
  top: 0; /*konumunu en tepeye yerleştirdik*/
  width: 100%; /*genişliği ekrana sığdırdık*/
  box-shadow: 5px 2px var(--shadow-color);
  z-index: 99;
}
.nav-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Butonlar ve logo arasında boşluk bırakmak için */
  padding: 0 20px; /* Daha küçük padding ile sola yaklaştırdık */
  height: 80px;
}

.nav-btn{
padding: 12px 30px;
margin:0px 5px;
border-radius: 10px;
border: 2px solid hsl(185, 6%, 90%);
background-color: hsl(0, 0%, 99%);
color: var(--text-color);
font-size: 1rem;
cursor: pointer;
box-shadow: 0px 4px 4px hsla(0, 0%, 50%, 0.1);
transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-btn:hover {
  background-color: hsl(0, 0%, 98%);
  transform: scale(1.05);
}

.nav-btn:active {
  background-color: hsl(0, 0%, 95%);
  transform: scale(0.98);
}


/* Logo stilini koruduk */
.nav-logo {
  font-size: var(--large-font-size);
  color: var(--text-color);
  text-align: center;
}

a {
  text-decoration: none;
  color: unset;
}


/* app.jsx içindeki div elemanlarının css düzeltmeleri*/
.main {
  height: 100vh;
  padding-top: 6ch;
  display: grid;
  place-items: center;
}

.screen {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* Genişliği ayarla */
  display: flex;
  align-items: center; /* Dikey olarak ortala */
  justify-content: center; /* Yatay olarak ortala */
}

.game-screen {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  overflow: auto;
}

/*sudoku tahtası ile ilgili css kısımları*/

.sudoku-grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(9, 1fr);
  max-width: 400px;
  max-height: 400px;
  width: 100%; /* Genişliği ayarla */
  height: 100%; /* Yüksekliği ayarla */
  margin: auto; /* Ortalamak için */
}

.sudoku-grid-cell {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
  background-color: #f0f2f5;
  color: hsl(185, 6%, 40%);
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  caret-color: transparent;
  outline: none;
  box-sizing: border-box;
}
.sudoku-grid-cell:focus {
  outline: 2px solid hsl(185, 6%, 65%); /* Focus olduğunda outline rengi ve kalınlığı */
  outline-offset: -2px; /* Outline'ı kenarlara daha yakın yapar */
}

.sudoku-grid-cell:hover {
  border: 2px solid hsl(185, 6%, 65%);
}

/*oyun bilgileri hakkındaki kısım için css düzenleme*/
.game-info {
  margin-top: 10px;
  width: 445px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.game-info-box {
  font-size: 1.5rem;
  color: var(--grid-text-color);
  background-color: #f0f2f5;
  border-radius: 10px;
  display: grid;
  place-items: center;
  padding: 8px 20px;
}

.game-info-level:hover {
  cursor: pointer;
  background-color: hsl(216, 20%, 96%);
}

.game-info-level:active {
  background-color: hsl(216, 20%, 97%);
}

/*numpad için css özellikleri*/
.numbers {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.number {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: #f0f2f5;
  color: var(--grid-text-color);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.number:hover {
  outline: 2px solid hsl(185, 6%, 65%);
  outline-offset: -2px;
  background-color: hsl(216, 20%, 96%);
}

.number-delete-btn {
  background-color: hsl(0, 82%, 60%);
  color: #fff;
}

.number-delete-btn:hover {
  background-color: hsl(0, 82%, 70%);
  color: #fff;
}

.locked {
  background-color: hsl(216, 20%, 84%);
}

/*skorboard için css*/
.skorboard-container {
  border: 2px solid hsl(216, 20%, 80%);
  border-radius: 10px;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 200px;
  color: #8e9a9b;
}

/*kalan hak için css*/
.mistake-container {
  border: 2px solid hsl(216, 20%, 80%);
  border-radius: 10px;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 200px;
  color: #8e9a9b;
}

.mistake-and-score {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .nav-buttons {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.nav-btn{
  padding: 0px 0px;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  font-size: 0.7rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-logo{
  font-size: 1.5rem;
}

.nav-btn:hover {
  background-color: hsl(0, 0%, 98%);
  transform: scale(1.05);
}

.nav-btn:active {
  background-color: hsl(0, 0%, 95%);
  transform: scale(0.98);
}

}


.saved-games-screen {
  width: 100%;
  display: grid;
  place-items: center;
  background-color:var(--main-color);
}

.saved-games-h1 {
  font-size: 2rem;
  width: 400px;
  text-align: center;
  border: 2px solid hsl(0, 0%, 82%); 
  border-radius: 10px;
  color: var(--text-color);
  padding: 10px;
  background-color: #fff; 
  margin-bottom: 50px;
}

.saved-games-screen p {
  color: var(--text-color); 
  font-size: 1rem;
  margin-top: 20px;
}

.saved-games-list {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.saved-games-list li {
  width: 400px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px; 
  border: 1px solid hsl(0, 0%, 82%); 
  border-radius: 5px; 
  background-color: #fff; 
  transition: background-color 0.3s ease; 
  color: var(--text-color);
}

.saved-games-list li:hover {
  background-color: hsl(0, 0%, 95%); /* Üzerine gelindiğinde arka plan rengi */
}
